<!-- purple x moss 2020 -->

<head>
    <title>Doggie - Error</title>
    <link rel="icon" href="../images/doggieIcon.png">
    <link href="../css/error.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="mainbox">
    <i class="far fa-question-circle fa-spin"></i>
    <div class="msg">Упс... ошибка<p>Пройдите <a href="/">на базу</a> и попробуйте начать сначала.</p></div>
</div>

<video autoplay muted loop id="myVideo">
    <source src="../video/videoBack3.mp4" type="video/mp4">
</video>